body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 5rem;
    margin: 50px auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.top {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.middle {
    margin: 100px 0;
}

.bottom {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.pro {
    width: 30%;
    margin: auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.code {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.dev {
    width: 22%;
    float: right;
    margin-left: 30px;
}

.sql {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.message-me {
    width: 40%;
    margin: 40px auto 60px;
}

.copy {
    padding: 20px 0;
}

.btn {
    box-shadow: 0px 0px 0px 0px #29bbff;
    background: linear-gradient(to bottom, #2dabf9 5%, #19558a 100%);
    background-color: #2dabf9;
    border-radius: 8px;
    border: 2px solid #0b0e07;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
}

.btn:hover {
    background: linear-gradient(to bottom, #19558a 5%, #2dabf9 100%);
    background-color: #19558a;
}

.btn:active {
    position: relative;
    top: 1px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}